<div class="center-form panel">
  <div class="panel-body">
    <h2 class="text-center">{{t('reset_password')}}</h2>
    <form method="post" ng-submit="reset()" name="resetForm">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : resetForm.username.$invalid && resetForm.username.$dirty }">
        <input class="form-control input-lg" type="text" id="username" name="username" ng-model="username" placeholder="{{t('your_username')}}" required>
        <br/>
        <input password-strength class="form-control input-lg" type="password" name="newPassword" ng-model="password" placeholder="{{t('new_password')}}" required>
        <br/>
        <input class="form-control input-lg" type="text" id="code" name="code" ng-model="code" placeholder="{{t('verification_code')}}" required>

        <span class="ion-at form-control-feedback"></span>
        <div class="help-block text-danger" ng-if="resetForm.newPassword.$dirty" ng-messages="resetForm.newPassword.$error">
          <div ng-message="required">{{t('password_required')}}</div>
        </div>
      </div>

      <button type="submit" ng-disabled="resetForm.$invalid" class="btn btn-lg btn-block btn-primary">{{t('reset_password')}}</button>
    </form>
  </div><!-- /panel-body -->
</div><!-- /panel -->

